@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Volkhov&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.two .two__header h3, .three h3 {
  font-family: 'Poppins';
  font-weight: 600;
  font-size: 18px;
  color: #5E6282;
  padding-bottom: 10px;
}

.two .two__header h2, .three h2 {
  font-family: 'Volkhov';
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  text-transform: capitalize;
  color: #14183E;
}

.two .two__block .two__block1, .two .two__block .two__block3, .two .two__block .two__block4 {
  width: 190px;
  height: 227px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.two .two__block .two__block1 h2, .two .two__block .two__block3 h2, .two .two__block .two__block4 h2 {
  padding-top: 29px;
  font-weight: 600;
  font-size: 20px;
  color: #1E1D4C;
}

.two .two__block .two__block1 p, .two .two__block .two__block3 p, .two .two__block .two__block4 p {
  padding-top: 15px;
  width: 181px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #5E6282;
}

.three .three__block {
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.three .three__block .three__block1, .three .three__block .three__block2, .three .three__block .three__block3 {
  width: 314px;
  height: 457px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
          filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
  border-radius: 24px;
}

.three .three__block .three__block1 .three__block__block, .three .three__block .three__block2 .three__block__block, .three .three__block .three__block3 .three__block__block {
  width: 315px;
  height: 130px;
  background: #FFFFFF;
  border-radius: 0px 0px 24px 24px;
  padding-left: 16px;
  padding-right: 16px;
}

.three .three__block .three__block1 .three__block__block .three__block1__city, .three .three__block .three__block2 .three__block__block .three__block1__city, .three .three__block .three__block3 .three__block__block .three__block1__city {
  padding-top: 27px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.three .three__block .three__block1 .three__block__block .three__block1__city p, .three .three__block .three__block2 .three__block__block .three__block1__city p, .three .three__block .three__block3 .three__block__block .three__block1__city p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  color: #5E6282;
}

.three .three__block .three__block1 .three__block__block .three__block__days, .three .three__block .three__block2 .three__block__block .three__block__days, .three .three__block .three__block3 .three__block__block .three__block__days {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 19px;
}

.three .three__block .three__block1 .three__block__block .three__block__days img, .three .three__block .three__block2 .three__block__block .three__block__days img, .three .three__block .three__block3 .three__block__block .three__block__days img {
  height: 17px;
}

.three .three__block .three__block1 .three__block__block .three__block__days p, .three .three__block .three__block2 .three__block__block .three__block__days p, .three .three__block .three__block3 .three__block__block .three__block__days p {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  color: #5E6282;
  padding-left: 15px;
}

.four .four__text .four__block__img1, .four .four__text .four__block__img2, .four .four__text .four__block__img3 {
  width: 47px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 13px;
}

.seven footer .footer__block3 .footer__block3__app .footer__google, .seven footer .footer__block3 .footer__block3__app .footer__apple {
  width: 103px;
  height: 35px;
  background: #080809;
  border-radius: 17.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.seven footer .footer__block3 .footer__block3__circle .footer__block3__circle1, .seven footer .footer__block3 .footer__block3__circle .footer__block3__circle2, .seven footer .footer__block3 .footer__block3__circle .footer__block3__circle3 {
  width: 41px;
  height: 41px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}

.four .four__text .four__block__text h2 {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: #5E6282;
}

.four .four__text .four__block__text p {
  width: 327px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #5E6282;
}

.one {
  width: 1440px;
  margin: 0 auto;
}

@media (max-width: 420px) {
  .one {
    width: 400px;
    margin: 0 auto;
  }
}

.one .one__bg__one {
  position: absolute;
  width: 60px;
  height: 496.86px;
  background: #D5AEE4;
  opacity: 0.5;
  -webkit-filter: blur(75px);
          filter: blur(75px);
}

.one .one__dec {
  position: absolute;
  z-index: 0;
  padding-left: 735px;
}

@media (max-width: 420px) {
  .one .one__dec {
    display: none;
  }
}

.one .one__head {
  padding-top: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #212832;
  position: relative;
  z-index: 2;
}

.one .one__head a {
  color: #212832;
  padding-left: 55px;
}

.one__head__input {
  width: 102px;
  height: 40px;
  border: 1px solid #212832;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.one__head__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 1000px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.one__head__menu :hover {
  color: #9b1313;
}

.one__head__menu a:hover {
  color: #9b1313;
}

.one__head__menu .one__head__en {
  font-size: 17px;
  font-weight: 500;
  color: #212832;
  font-family: "Google Sans";
  width: 50px;
  height: 22px;
  border-radius: none;
  margin-right: 138px;
  background: #FFF1DA;
  border: 0;
}

@media (max-width: 420px) {
  .one__head__menu .one__head__en {
    margin-right: 0px;
    background: #FFFFFF;
  }
}

@media (max-width: 420px) {
  .one__head__menu {
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .one__head__menu ul {
    display: none;
  }
}

.one__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 27px;
  position: relative;
  z-index: 2;
}

.one__content .one__content__text {
  padding-top: 112px;
}

@media (max-width: 420px) {
  .one__content .one__content__text {
    padding-top: 0px;
    width: 400px;
    font-size: 16px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    z-index: 2;
  }
}

.one__content .one__content__text h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  color: #DF6951;
}

@media (max-width: 420px) {
  .one__content .one__content__text h3 {
    width: 200px;
    font-size: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
    text-align: center;
  }
}

.one__content .one__content__text h2 {
  font-family: 'Volkhov', serif;
  padding-top: 24px;
  width: 600px;
  font-weight: 700;
  font-size: 84px;
  color: #181E4B;
  position: relative;
  z-index: 3;
}

@media (max-width: 420px) {
  .one__content .one__content__text h2 {
    width: 320px;
    font-size: 60px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.one__content .one__content__text p {
  width: 477px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #5E6282;
}

@media (max-width: 420px) {
  .one__content .one__content__text p {
    width: 320px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
}

.one__content .one__content__text img {
  position: absolute;
  top: 245px;
  padding-left: 270px;
  z-index: 1;
}

@media (max-width: 420px) {
  .one__content .one__content__text img {
    display: none;
  }
}

@media (max-width: 420px) {
  .one__content__img {
    display: none;
  }
}

.women__bg {
  display: none;
}

@media (max-width: 420px) {
  .women__bg {
    background-image: url(../img/Image.png);
    background-repeat: round;
    background-size: 100%;
    position: absolute;
    left: -50px;
    width: 450px;
    height: 450px;
    display: block;
    z-index: 1;
    opacity: 0.6;
    margin-top: 50px;
  }
}

.one__content__button__text {
  width: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 420px) {
  .one__content__button__text {
    width: 130px;
    margin: 0 auto;
  }
}

.one__content__button {
  margin-top: 34px;
  width: 379px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 420px) {
  .one__content__button {
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

.one__content__button__one {
  width: 170px;
  height: 60px;
  background: #F1A501;
  -webkit-box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
          box-shadow: 0px 20px 35px rgba(241, 165, 1, 0.15);
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 0px;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 18px;
}

.one__content__button__two {
  width: 52px;
  height: 52px;
  border-radius: 50%;
  background: #DF6951;
  -webkit-box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
          box-shadow: 0px 15px 30px rgba(223, 105, 81, 0.3);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.two {
  width: 1440px;
  margin: 0 auto;
}

@media (max-width: 420px) {
  .two {
    width: 400px;
    margin: 0 auto;
  }
}

.two .two__header__img {
  padding-top: 90px;
  position: absolute;
  margin-left: 1250px;
}

@media (max-width: 420px) {
  .two .two__header__img {
    display: none;
  }
}

.two .two__header {
  padding-top: 100px;
  text-align: center;
}

.two .two__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 420px) {
  .two .two__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 40px;
  }
}

.two .two__block .two__block__bg {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 30px 0px 10px;
  background: #DF6951;
  margin-top: 317px;
  margin-left: -550px;
  z-index: 0;
}

@media (max-width: 420px) {
  .two .two__block .two__block__bg {
    display: none;
  }
}

.two .two__block .two__block1 {
  padding-top: 110px;
}

@media (max-width: 420px) {
  .two .two__block .two__block1 {
    padding-top: 0px;
  }
}

.two .two__block .two__block2 {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 68px;
  width: 267px;
  height: 314px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  border-radius: 36px;
}

.two .two__block .two__block2 h2 {
  font-weight: 600;
  font-size: 20px;
  color: #1E1D4C;
}

.two .two__block .two__block2 p {
  padding-top: 15px;
  width: 181px;
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #5E6282;
}

@media (max-width: 420px) {
  .two .two__block .two__block2 {
    margin-top: 0px;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
}

.two .two__block .two__block3 {
  padding-top: 110px;
}

@media (max-width: 420px) {
  .two .two__block .two__block3 {
    padding-top: 0px;
  }
}

.two .two__block .two__block4 {
  padding-top: 110px;
}

@media (max-width: 420px) {
  .two .two__block .two__block4 {
    padding-top: 15px;
  }
}

.three {
  width: 1440px;
  margin: 0 auto;
}

.three .three__header {
  text-align: center;
  padding-top: 100px;
}

@media (max-width: 420px) {
  .three .three__header {
    padding-top: 40px;
  }
}

@media (max-width: 420px) {
  .three {
    width: 400px;
    margin: 0 auto;
    padding-top: 0px;
  }
}

.three .three__block .three__block1 {
  background-image: url(../img/maintwopic1.png);
  -webkit-transition: all 0.3s ease;
  position: relative;
  z-index: 2;
}

.three .three__block .three__block1:hover {
  -webkit-transform: scale(1.2);
  position: relative;
  z-index: 5;
}

.three .three__block .three__block2 {
  background-image: url(../img/maintwopic2.jpg);
  -webkit-transition: all 0.3s ease;
  position: relative;
  z-index: 2;
}

.three .three__block .three__block2:hover {
  -webkit-transform: scale(1.2);
  position: relative;
  z-index: 5;
}

.three .three__block .three__block3 {
  background-image: url(../img/maintwopic3.png);
  background-size: 100%;
  position: relative;
  z-index: 2;
  -webkit-transition: all 0.3s ease;
}

.three .three__block .three__block3:hover {
  -webkit-transform: scale(1.2);
  position: relative;
  z-index: 5;
}

.three .three__block .three__block__img {
  margin-top: 158px;
  margin-left: 1300px;
  position: absolute;
  z-index: 1;
}

@media (max-width: 420px) {
  .three .three__block .three__block__img {
    display: none;
  }
}

@media (max-width: 420px) {
  .three .three__block {
    height: 1500px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}

.four {
  width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-top: 186px;
}

@media (max-width: 420px) {
  .four {
    width: 400px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-top: 40px;
  }
}

.four .four__text .hour__text__header {
  padding-bottom: 31px;
}

@media (max-width: 420px) {
  .four .four__text .hour__text__header {
    padding-left: 20px;
  }
}

.four .four__text .hour__text__header p {
  font-size: 18px;
  font-weight: 600;
  color: #5E6282;
  font-family: "Poppins";
}

.four .four__text .hour__text__header h2 {
  font-size: 50px;
  font-weight: 700;
  color: #14183E;
  font-family: "Volkhov";
  width: 511px;
  padding-top: 15px;
}

@media (max-width: 420px) {
  .four .four__text .hour__text__header h2 {
    width: 400px;
    margin: 0 auto;
  }
}

.four .four__text .four__block {
  width: 395px;
  padding-bottom: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 420px) {
  .four .four__text .four__block {
    padding-left: 10px;
  }
}

.four .four__text .four__block__img1 {
  background: #F0BB1F;
}

.four .four__text .four__block__img2 {
  background: #F15A2B;
}

.four .four__text .four__block__img3 {
  background: #006380;
}

.four .block__background {
  margin-top: 100px;
  position: absolute;
  width: 354px;
  height: 367px;
  background: #59B1E6;
  opacity: 0.8;
  -webkit-filter: blur(75px);
          filter: blur(75px);
  z-index: 1;
}

@media (max-width: 420px) {
  .four .block__background {
    display: none;
  }
}

.four .four__block__block {
  padding-top: 20px;
  width: 370px;
  height: 400px;
  border-radius: 26px;
  margin-top: 100px;
  padding-left: 25px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  position: relative;
  z-index: 2;
}

.four .four__block__block:hover {
  -webkit-transform: scale(1.2);
  position: relative;
  z-index: 5;
}

@media (max-width: 420px) {
  .four .four__block__block {
    display: none;
  }
}

.four .four__block__block .four__block__block__img {
  width: 321px;
  height: 161px;
  border-radius: 24px;
}

.four .four__block__block .four__block__block__text .four__block__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.four .four__block__block .four__block__block__text .four__block__date p {
  font-size: 16px;
  font-weight: 500px;
  color: #84829A;
  font-family: "Poppins";
}

.four .four__block__block .four__block__block__text h2 {
  padding-top: 26px;
  font-size: 18px;
  font-weight: 500;
  color: #080809;
  font-family: "Poppins";
}

.four .four__block__block .four__block__block__text .four__block__date__line {
  width: 16px;
  height: 0px;
  background: #84829A;
  border: 1px solid #84829A;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.four .four__block__block .four__block__block__text .four__block__options {
  padding-top: 21px;
  width: 139px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.four .four__block__block .four__block__block__text .four__block__options__icon {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  background: #F5F5F5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.four .four__block__block .four__block__block__text .four__block__people {
  width: 320px;
  padding-top: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.four .four__block__block .four__block__block__text .four__block__people .four__block__people__one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.four .four__block__block .four__block__block__text .four__block__people .four__block__people__one img {
  padding-right: 15px;
}

.four .four__block__block .four__block__block__text .four__block__people .four__block__people__one p {
  font-size: 16px;
  font-weight: 500px;
  color: #84829A;
  font-family: "Poppins";
}

.four .four__block__block .four__block__block__text .four__block__people .four__block__people__two img {
  padding-top: 10px;
}

.four .four__block__block .four__block__block__text .four__block__block__two {
  position: absolute;
  width: 263px;
  height: 129px;
  border-radius: 18px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  z-index: 5;
  top: 219px;
  left: 222px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  padding-top: 18px;
}

.four .four__block__block .four__block__block__text .four__block__block__two .four__block__block__two__img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.four .four__block__block .four__block__block__text .four__block__block__two .four__block__block__two__text {
  padding-left: 12px;
}

.four .four__block__block .four__block__block__text .four__block__block__two .four__block__block__two__text p {
  font-size: 14px;
  font-weight: 500;
  color: #84829A;
  font-family: "Poppins";
}

.four .four__block__block .four__block__block__text .four__block__block__two .four__block__block__two__text h3 {
  font-size: 18px;
  font-weight: 500;
  color: #080809;
  font-family: "Poppins";
}

.four .four__block__block .four__block__block__text .four__block__block__two .four__block__block__two__text .completed {
  padding-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.four .four__block__block .four__block__block__text .four__block__block__two .four__block__block__two__text .completed h3 {
  font-size: 14px;
  font-weight: 500;
  color: #8A79DF;
  font-family: "Poppins";
}

.four .four__block__block .four__block__block__text .four__block__block__two .four__block__block__two__text .completed p {
  font-size: 14px;
  font-weight: 500;
  color: #080809;
  font-family: "Poppins";
}

.four .four__block__block .four__block__block__text .four__block__block__two .four__block__block__two__text .four__block__block__two__line {
  margin-top: 10px;
  width: 156px;
  height: 5px;
  border-radius: 30px;
  background: #F5F5F5;
}

.four .four__block__block .four__block__block__text .four__block__block__two .four__block__block__two__text .four__block__block__two__line .four__block__block__two__line__one {
  width: 73px;
  height: 5px;
  border-radius: 30px;
  background-color: #8A79DF;
}

.five {
  padding-top: 200px;
  width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding-left: 30px;
}

@media (max-width: 420px) {
  .five {
    width: 400px;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding-left: 0;
    padding-top: 40px;
  }
}

.five .five__block__one p {
  font-size: 18px;
  font-weight: 600px;
  color: #5E6282;
  font-family: "Poppins";
}

.five .five__block__one h2 {
  font-size: 50px;
  font-weight: 700px;
  color: #14183E;
  font-family: "Volkhov";
  width: 409px;
}

@media (max-width: 420px) {
  .five .five__block__one h2 {
    font-size: 30px;
    font-weight: 500px;
    color: #14183E;
    font-family: "Volkhov";
    width: 300px;
  }
}

.five .five__block__one .circle {
  padding-top: 82px;
  width: 87px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 420px) {
  .five .five__block__one .circle {
    margin: 0 auto;
  }
}

.five .five__block__one .circle .circle1 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #39425D;
}

.five .five__block__one .circle .circle2 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #E5E5E5;
}

.five .five__block__one .circle .circle3 {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: #E5E5E5;
}

.five .five__block__two {
  width: 669px;
  height: 356px;
  border-radius: none;
  padding-top: 34px;
  padding-left: 37px;
}

@media (max-width: 420px) {
  .five .five__block__two {
    width: 380px;
    height: 356px;
    border-radius: none;
    padding-left: 0px;
  }
}

.five .five__block__two img {
  position: absolute;
  z-index: 5;
  top: 3109px;
  margin-left: -50px;
}

@media (max-width: 420px) {
  .five .five__block__two img {
    position: relative;
    z-index: 10;
    top: 0;
    margin: 0 auto;
    padding-left: 155px;
  }
}

.five .five__block__two .five__img__block {
  position: absolute;
  margin-left: 675px;
  top: 150px;
  z-index: 10;
  width: 14px;
  height: 71.5px;
}

@media (max-width: 420px) {
  .five .five__block__two .five__img__block {
    display: none;
  }
}

.five .five__block__two .five__block__block__one {
  width: 504px;
  height: 245px;
  border-radius: 10px;
  background: #FFFFFF;
  -webkit-box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
          box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.02), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481), 0px 20px 13px rgba(0, 0, 0, 0.01), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481);
  position: relative;
  z-index: 2;
  padding-left: 34px;
  -webkit-transition: all 0.3s ease;
}

.five .five__block__two .five__block__block__one:hover {
  -webkit-transform: scale(1.2);
  position: relative;
  z-index: 5;
}

@media (max-width: 420px) {
  .five .five__block__two .five__block__block__one {
    width: 350px;
    padding-left: 0px;
    margin: 0 auto;
  }
  .five .five__block__two .five__block__block__one:hover {
    -webkit-transform: scale(1.1);
    position: relative;
    z-index: 5;
  }
}

.five .five__block__two .five__block__block__one p {
  font-size: 16px;
  font-weight: 500;
  color: #5E6282;
  font-family: "Poppins";
  width: 402px;
  padding-bottom: 34px;
}

@media (max-width: 420px) {
  .five .five__block__two .five__block__block__one p {
    width: 350px;
    padding-left: 0px;
  }
}

.five .five__block__two .five__block__block__one h2 {
  font-size: 18px;
  font-weight: 600;
  color: #5E6282;
  font-family: "Poppins";
}

.five .five__block__two .five__block__block__one h3 {
  font-size: 14px;
  font-weight: 500;
  color: #5E6282;
  font-family: "Poppins";
}

.five .five__block__two .five__block__block__two {
  width: 502px;
  height: 232px;
  border-radius: 10px;
  border: 2px solid #F7F7F7;
  -webkit-filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
          filter: drop-shadow(0px 100px 80px rgba(0, 0, 0, 0.02)) drop-shadow(0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0151852)) drop-shadow(0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0121481)) drop-shadow(0px 20px 13px rgba(0, 0, 0, 0.01)) drop-shadow(0px 8.14815px 6.51852px rgba(0, 0, 0, 0.00785185)) drop-shadow(0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00481481));
  position: absolute;
  z-index: 0;
  top: 3283px;
  margin-left: 87px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 34px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  padding-bottom: 20px;
}

.five .five__block__two .five__block__block__two p {
  font-size: 18px;
  font-weight: 600;
  color: #5E6282;
  font-family: "Poppins";
}

.five .five__block__two .five__block__block__two h2 {
  font-size: 14px;
  font-weight: 500;
  color: #5E6282;
  font-family: "Poppins";
}

@media (max-width: 420px) {
  .five .five__block__two .five__block__block__two {
    display: none;
  }
}

.six {
  width: 1440px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media (max-width: 420px) {
  .six {
    display: none;
  }
}

.six .six__block {
  width: 1073px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 96px;
}

.seven {
  width: 1440px;
  margin: 0 auto;
  padding-top: 124px;
}

@media (max-width: 420px) {
  .seven {
    width: 400px;
    margin: auto;
    padding-top: 40px;
  }
}

.seven .seven__img {
  position: absolute;
  margin-left: 1251px;
  margin-top: 311px;
}

@media (max-width: 420px) {
  .seven .seven__img {
    display: none;
  }
}

.seven .Subscribe {
  margin: 0 auto;
  width: 1170px;
  height: 407px;
  border-radius: 129px 20px 20px 20px;
  background: #dfd7f92d;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (max-width: 420px) {
  .seven .Subscribe {
    width: 400px;
    margin: auto;
  }
}

.seven .Subscribe .Subscribe__div {
  position: absolute;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: linear-gradient(201.65deg, #747DEF 10.27%, #5E3BE1 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 1130px;
  margin-top: -390px;
}

@media (max-width: 420px) {
  .seven .Subscribe .Subscribe__div {
    display: none;
  }
}

.seven .Subscribe p {
  font-size: 33px;
  font-weight: 600;
  color: #5E6282;
  font-family: "Poppins";
  width: 881px;
  text-align: center;
  opacity: none;
}

@media (max-width: 420px) {
  .seven .Subscribe p {
    width: 360px;
    font-size: 16px;
    font-weight: 400;
    color: #5E6282;
    font-family: "Poppins";
  }
}

.seven .Subscribe .Subscribe__img__one {
  position: absolute;
  opacity: 0.2;
  margin-left: -750px;
  padding-top: 131px;
}

@media (max-width: 420px) {
  .seven .Subscribe .Subscribe__img__one {
    margin-left: 27px;
  }
}

.seven .Subscribe .Subscribe__img__two {
  position: absolute;
  opacity: 0.2;
  margin-top: -131px;
  padding-left: 967px;
}

@media (max-width: 420px) {
  .seven .Subscribe .Subscribe__img__two {
    display: none;
  }
}

.seven .Subscribe .Subscribe__inp {
  width: 625px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 420px) {
  .seven .Subscribe .Subscribe__inp {
    width: 400px;
    height: 150px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.seven .Subscribe .Subscribe__inp .input1 {
  padding-left: 66px;
  width: 421px;
  height: 68px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 400;
  color: #39425D;
  font-family: "Montserrat";
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 31px;
  background-size: 21px;
  outline: none;
  border: 0px;
  position: relative;
  z-index: 5;
}

@media (max-width: 420px) {
  .seven .Subscribe .Subscribe__inp .input1 {
    width: 380px;
    height: 68px;
    border-radius: 10px;
  }
}

.seven .Subscribe .Subscribe__inp button {
  width: 180px;
  height: 68px;
  border-radius: 10px;
  font-size: 17px;
  font-weight: 600;
  color: #FFFFFF;
  font-family: "Open Sans";
  background: -webkit-gradient(linear, left top, left bottom, from(#FF946D), to(#FF7D68));
  background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
  border: 0px;
  position: relative;
  z-index: 5;
}

.seven footer {
  width: 1060px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 166px;
}

@media (max-width: 420px) {
  .seven footer {
    width: 400px;
    margin: 0 auto;
    padding-top: 40px;
    display: -ms-grid;
    display: grid;
    gap: 10px;
        grid-template-areas: "block1 block1 block1"
 "block__a block__b block__c"
 "block3 block3 block3";
  }
}

.seven footer .footer__block1 {
  width: 207px;
}

.seven footer .footer__block1 h2 {
  font-size: 44px;
  font-weight: 500;
  color: #181E4B;
  font-family: "Poppins";
}

.seven footer .footer__block1 p {
  padding-top: 19px;
  font-size: 13px;
  font-weight: 500;
  color: #5E6282;
  font-family: "Poppins";
}

@media (max-width: 420px) {
  .seven footer .footer__block1 {
    grid-area: block1;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
}

.seven footer .footer__block2 {
  width: 114px;
  padding-top: 21px;
}

.seven footer .footer__block2 h2 {
  font-size: 21px;
  font-weight: 700;
  color: #080809;
  font-family: "Poppins";
  padding-bottom: 34px;
}

.seven footer .footer__block2 p {
  padding-bottom: 12px;
  font-size: 18px;
  font-weight: 500;
  color: #5E6282;
  font-family: "Poppins";
}

@media (max-width: 420px) {
  .seven footer .footer__block2 .footer__block__a {
    grid-area: block__a;
  }
  .seven footer .footer__block2 .footer__block__b {
    grid-area: block__b;
  }
  .seven footer .footer__block2 .footer__block__c {
    grid-area: block__c;
  }
}

.seven footer .footer__block3 {
  width: 214px;
  padding-top: 21px;
}

@media (max-width: 420px) {
  .seven footer .footer__block3 {
    grid-area: block3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 auto;
  }
}

.seven footer .footer__block3 .footer__block3__circle {
  width: 177px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.seven footer .footer__block3 .footer__block3__circle .footer__block3__circle1 {
  background: #FFFFFF;
}

.seven footer .footer__block3 .footer__block3__circle .footer__block3__circle2 {
  background: conic-gradient(from 180deg at 50% 50%, #B8D2F1 0deg, #F289AA 60deg, #C68BF0 106.09deg, #D164DA 153.75deg, #C963E8 221.25deg, #BFC2E8 258.75deg, #FFC999 288.75deg, #D0D8C9 315deg, #BAD0F1 334.13deg, #CED8CB 358.97deg, rgba(255, 255, 255, 0) 360deg);
}

.seven footer .footer__block3 .footer__block3__circle .footer__block3__circle3 {
  background: #FFFFFF;
}

.seven footer .footer__block3 p {
  padding-top: 26px;
  font-size: 20px;
  font-weight: 500;
  color: #5E6282;
  font-family: "Poppins";
}

.seven footer .footer__block3 .footer__block3__app {
  padding-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 420px) {
  .seven footer .footer__block3 .footer__block3__app {
    width: 230px;
  }
}

.seven footer .footer__block3 .footer__block3__app .footer__google .google__img {
  width: 20px;
  height: 20px;
}

.seven footer .footer__block3 .footer__block3__app .footer__google .google__text {
  width: 53.64px;
  height: 14.8px;
}

.seven footer .footer__block3 .footer__block3__app .footer__apple .apple__img {
  width: 13.12px;
  height: 16px;
}

.seven footer .footer__block3 .footer__block3__app .footer__apple .apple__text {
  width: 54.49px;
  height: 17.38px;
}

.seven .end {
  margin: 0 auto;
  text-align: center;
  padding-top: 86px;
  font-size: 14px;
  font-weight: 500;
  color: #5E6282;
  font-family: "Poppins";
}

.seven .background__end {
  width: 50px;
  height: 186px;
  background: #dbaaee;
  opacity: 0.8;
  -webkit-filter: blur(75px);
          filter: blur(75px);
  -webkit-transform: matrix(-1, 0, 0, 1, 0, 0);
          transform: matrix(-1, 0, 0, 1, 0, 0);
  position: absolute;
  margin-left: 1325px;
  margin-top: -150px;
}

@media (max-width: 420px) {
  .seven .background__end {
    display: none;
  }
}
/*# sourceMappingURL=one.css.map */
